body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100vh;
}

.game {
    width: 600px;
    height: 400px;

    background-image: url("img/background.svg");
    background-size: 600px 400px;

    overflow: hidden;
}

#dino {
    position: relative;
    top: 324px;

    width: 90px;
    height: 76px;

    background-image: url("img/dino.svg");
    background-size: 90px 76px;
}

#cactus {
    position: relative;
    top: 260px;
    left: 520px;

    width: 60px;
    height: 60px;

    background-image: url("img/cactus-1.svg");
    background-size: 60px 60px;

    animation: move 1.5s infinite linear;
}

@keyframes move {
    0% {
        left: 520px;
    }

    100% {
        left: -40px;
    }
}

.jump {
    animation: dinoJump 0.3s linear;
}

@keyframes dinoJump {
    0% {
        top: 320px;
    }

    25% {
        top: 220px;
    }

    50% {
        top: 160px;
    }

    75% {
        top: 220px;
    }

    100% {
        top: 320px;
    }
}